.main_divider {
    background-color: #2e2d2b;
    color: white;
    padding: 50px;
}

.headings {
    color: #f5b342;
    margin-top: 30px;
    margin-bottom: 20px;
}

.detail {
    margin-bottom: 20px;
}
